* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: black;
  width: 100%;
  height: 78px;
  justify-content: center;
  /* Alinea los elementos a la izquierda */
  /* Ajusta el espacio izquierdo según sea necesario */
  /* font-weight: lighter; */
  position: fixed;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  width: 95%;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}

.nav-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 55%;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.logo {
  height: 50px;
  width: 55px;
}

.buscar {
  width: 100%;
  height: 33px;
}

ul li {
  display: inline-block;
  padding: 0 5px;
  color: white;
}

nav h1:hover {
  color: #c0baba;
}

span {
  color: #ef3340;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
  padding-left: 10px;
}


.logo:hover {
  transform: scale(1.3);
}


ul li:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 414px) {
  h1 {
      position: relative;
      color: rgb(255, 255, 255);
      left: 40px;
      font-family: sans-serif;
      font-weight: lighter;
      font-size: 15px;
  }

  .logo {
      position: relative;
      transform: scale(1.5);
      width: 40px;
      left: 20px;
  }

  ul.iconos {
    position: absolute;
    top: 25px;
    right: 30px;
  }
} 


@media screen and (max-width: 640px) {
  .logo {
      height: 50px;
      width: 55px;
  }

  .nav-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 33%;
  }
    
  .nav-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 33%;
  }
    
  .nav-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 33%;
  }
} 

@media screen and (max-width: 475px) {
  .logo {
      height: 50px;
      width: 55px;
  }

  .nav-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 50%;
  }
    
  .nav-center {
      display: none;
      flex-direction: row;
      align-items: center;
      width: 33%;
  }
    
  .nav-right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      width: 50%;
  }
} 


/* Estilo de la imagen de fondo */
.fondo {
  position: absolute;
  top: 78px; /* Alinea la imagen debajo del rectángulo */
  left: 0;
  width: 100%;
  height: 100%; /* Ajusta la altura automáticamente */
  z-index: -1; /* Coloca la imagen detrás de otros elementos */
}


/* Estilo del cuadrado centrado */
.cuadrado {
  background-color: rgba(45, 45, 45, 0.7); /* Color con opacidad */
  width: 415px;
  height: 392px;
  border-radius: 20px; /* Bordes redondeados */
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* Para alinear el contenido verticalmente */
  justify-content: center;
  align-items: center;
}

/* Estilo del texto "Acceder" */
.texto {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  position: absolute;
  top: 30px; /* Coordenada Y */
  left: 160px; /* Coordenada X */
}


/* Estilo del formulario */
.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinear un poco a la izquierda */
  margin-bottom: 20px;
}

/* Estilo de las etiquetas de entrada */
label {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 5px;
  margin-left: 10px; /* Agregar margen izquierdo */
}

/* Estilo de los campos de entrada */
input {
  width: 344px; /* Ancho 344px */
  height: 33px; /* Alto 33px */
  padding: 10px;
  margin-bottom: 15px; /* Espacio entre los campos de entrada */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
}



/* Estilo del botón "Acceder" */
#acceder {
  background-color: #EF3340;
  color: #FFFFFF;
  padding: 12px 20px; /* Tamaño ligeramente más grande */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative; /* Usar posición relativa */
  top: 50px; /* Espacio hacia abajo */
  align-self: center; /* Centrar el botón horizontalmente */
}

#acceder:hover {
  background-color: #D12630;
}
/* Estilo del bloque "¿Aún no tienes una cuenta?" */
.nueva-cuenta {
  text-align: center; /* Centrar el texto */
  position: absolute;
  bottom: 20px; /* Espacio hacia arriba */
  left: 50%;
  transform: translateX(-50%); /* Centrar horizontalmente */
}

/* Estilo del texto "¿Aún no tienes una cuenta?" */
.nueva-cuenta p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}

/* Estilo del botón "Crea una" */
#crear-cuenta {
  background-color: #EF3340;
  color: #FFFFFF;
  padding: 12px 20px; /* Tamaño ligeramente más grande */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 117px; /* Ancho 117px */
  height: 33px; /* Alto 33px */
  margin-top: 10px; /* Espacio hacia arriba */
  align-self: center; /* Centrar el botón horizontalmente */
}

#crear-cuenta:hover {
  background-color: #D12630;
}