* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: #ebebeb;
}
  
nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 73px;
    justify-content: center;
    /* Alinea los elementos a la izquierda */
    /* Ajusta el espacio izquierdo según sea necesario */
    /* font-weight: lighter; */
    position: fixed;
}
  
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    width: 95%;
}
  
.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}
  
.nav-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
}
  
.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25%;
}
  
.logo {
    height: 50px;
    width: 55px;
}
  
.buscar {
    width: 100%;
    height: 33px;
}
  
ul li {
    display: inline-block;
    padding: 0 5px;
    color: white;
}
  
nav h1:hover {
    color: #c0baba;
}

span {
    color: #ef3340;
}
  
h1 {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
    padding-left: 10px;
}
  
  
.logo:hover {
    transform: scale(1.3);
}
  
  
ul li:hover {
    transform: scale(1.3);
}

.background{
    margin-top: 70px;
    width: 100%;
    height: 100%;
    position: relative; 
    z-index: -1;
}

.segundo-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; 
    max-width: 100%;
    width: 100%;
}

.segundo-banner-left {
    width: 35%;
    /* Parte izquierda del segundo banner */
}

.segundo-banner-center {
    width: 30%;
    height: auto;
    width: auto;
    position: relative; 
    z-index: -1;
}

.segundo-banner-right {
    width: 35%;
    /* Parte derecha del segundo banner */
}

/* Estilos para el contenido */
.contenido {
    /* Estilos para el contenido */
}

.dividir-contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative; 
    max-width: auto;
    width: auto;
    z-index: -1;
}

/* Parte izquierda del segundo banner */
.dividir-contenido-left {
    width: 10%;
    
}

.dividir-contenido-center {
    width: 70%;
    height: auto;
    position: relative; 
    z-index: 1;
}

/* Parte derecha del segundo banner */
.dividir-contenido-right {
    width: 10%;
    
}

.cuadrados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadro {
    width: calc(10% - 20px); /* Calcula el ancho de cada cuadro para 8 cuadros por fila */
    text-align: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el cuadro */
}

.cuadro:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el cursor */
}

/* Estilos para la imagen en el cuadro */
.cuadro img {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para el texto en el cuadro */
.cuadro p{
    margin-top: 40px;
    color: #7D7D7D;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.cat{
    margin-left: 300px;
    font-size: 20px; 
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.background-2{
    width: 100%;
    height: 100%;
    position: relative; 
    z-index: -1;
}





  
@media screen and (max-width: 414px) {
    h1 {
        position: relative;
        color: rgb(255, 255, 255);
        left: 40px;
        font-family: sans-serif;
        font-weight: lighter;
        font-size: 15px;
    }
  
    .logo {
        position: relative;
        transform: scale(1.5);
        width: 40px;
        left: 20px;
    }
  
    ul.iconos {
      position: absolute;
      top: 25px;
      right: 30px;
    }

    .cuadro {
        width: calc(40% - 20px); /* Calcula el ancho de cada cuadro para 2 cuadros por fila */
        text-align: center;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer; /* Cambia el cursor al pasar sobre el cuadro */
    }
    .cat{
        margin-left: 150px;
        font-size: 15px; 
        font-weight: bold;
        font-family: Arial, sans-serif;
        cursor: pointer;
    }
} 


@media screen and (max-width: 700px) {
    .logo {
        height: 50px;
        width: 55px;
    }

    .nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 33%;
    }
      
    .nav-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 33%;
    }
      
    .nav-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 33%;
    }
    .cuadro {
        width: calc(25% - 30px); /* Calcula el ancho de cada cuadro para 2 cuadros por fila */
        text-align: center;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer; /* Cambia el cursor al pasar sobre el cuadro */
    }

    .cat{
        margin-left: 50px;
        font-size: 16px; 
        font-weight: bold;
        font-family: Arial, sans-serif;
        cursor: pointer;
    }


} 

@media screen and (max-width: 475px) {
    .logo {
        height: 50px;
        width: 55px;
    }

    .nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }
      
    .nav-center {
        display: none;
        flex-direction: row;
        align-items: center;
        width: 33%;
    }
      
    .nav-right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 50%;
    }

    .cat{
        margin-left: 90px;
        font-size: 16px; 
        font-weight: bold;
        font-family: Arial, sans-serif;
        cursor: pointer;
    }

    .cuadro {
        width: calc(40% - 30px); /* Calcula el ancho de cada cuadro para 2 cuadros por fila */
        text-align: center;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer; /* Cambia el cursor al pasar sobre el cuadro */
    }

    
    
} 

