@font-face {
    font-family: 'titulo';
    src: url("Fuente que si tiene el usuario pues jala"), url(../fonts/Rajdhani-Bold.ttf);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.logo{
    width: 50px;
    height: 44px;
}

.title{
    color: white;
    font-family: 'titulo';
    font-size: 24px;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #121212;
}

.hamburguesa{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.hamburguesa span{
    display: block;
    background-color: #6d6d6d;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.buscar-barra{
    background-color: #2c2c2c;
    border-radius: 5px;
}

.clases-menu{
    display: flex;
    padding: 0;
}

.clases-menu li{
    padding: 0 20px;
    list-style-type: none;
}

.clases-menu li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.4rem;
}

.iconos-menu{
    display: flex;
    padding: 0;
}

.iconos-menu li{
    padding: 0 20px;
    list-style-type: none;
}

.iconos-menu li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.8rem;
}

.cuenta-menu{
    display: flex;
    padding: 0;
}

.cuenta-menu li{
    padding: 0 20px;
    list-style-type: none;
}

.cuenta-menu li a{
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.8rem;
}





