<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/slider.css">
    <title>Document</title>
</head>
<body>
    <div class="slider-container">
        <div class="slide-tienda">
            <ul>
                <li><img src="../assets/slider-1.png" alt=""></li>
                <li><img src="../assets/slider-2.png" alt=""></li>
                <li><img src="../assets/slider-3.jpeg" alt=""></li>
                <li><img src="../assets/slider-4.jpeg" alt=""></li>
            </ul>
        </div>
      </div>
</body>
</html>